/* LoginPage.css */

/*
Esta es la regla clave.
Cuando un componente Password (.p-password) está dentro de un InputGroup (.p-inputgroup),
le decimos que se comporte como un elemento flex que debe crecer y ocupar el espacio disponible.
*/
.p-inputgroup .p-password {
  flex: 1 1 auto;
  width: 1%; /* Ayuda a que flexbox calcule el tamaño correctamente */
}

/*
Aseguramos que el input dentro del componente Password también ocupe todo el ancho
de su contenedor (el div .p-password que ahora es flexible).
*/
.p-inputgroup .p-password .p-inputtext {
  width: 100%;
}

/* Estilos para el logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.logo-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
